$primary: #b6065a;
$bg: #26222c;
$bg_dark: #211f28;
$bg_room: #1a1524;
$font_color: #fafafa;
$font_family: 'Manrope', sans-serif;

// PULLED COLORS FROM https://imgur.com/a/qVUab5w
$background-dark: #05000e;
$background-mid: #1a1524;
$background-light: #2a2633;
$gray-text: #cdcccf;
$icon-gray: #56535e;
$icon-gray-active: #cdcccf;
